<section
  class="h-screen w-screen flex flex-col items-center justify-center p-12"
>
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="flex flex-col relative max-w-80"
  >
    <div class="mb-2">
      <app-input formControlName="username" label="Username"></app-input>
    </div>

    <div class="mb-2">
      <app-input
        formControlName="password"
        label="Password"
        type="password"
      ></app-input>
    </div>

    <button mat-button type="submit" class="btn">Log in</button>

    <a [routerLink]="['../', 'signup']" [replaceUrl]="true" class="link"
      >Sign up</a
    >
  </form>
</section>
