<section class="mt-nav mb-4">
  <app-viewer3d
    [dataSource]="blobUrl$ | async"
    [dimensions]="canvasDimensions"
    (error)="onLoadError($event)"
  ></app-viewer3d>
</section>

<section class="px-4">
  <div *ngIf="model3d$ | async as model3d" class="mb-4">
    <div class="flex flex-row items-center justify-between mb-4">
      <h2 class="m-0">
        {{ model3d.name }}
        <span *ngIf="model3d.user as user">By {{ user.username }}</span>
      </h2>
      <span>{{ model3d.price | currency }}</span>
    </div>

    <div class="flex flex-row">
      <ng-container
        *ngIf="model3d.files && model3d.files.length; else elseTemplate"
      >
        <button
          *ngFor="let file of model3d.files"
          [disabled]="!(isLoggedIn$ | async)"
          (click)="onFileDownload(file)"
          class="btn flex-initial me-2"
        >
          Download .{{ file.name.split(".").pop() }}
        </button>
      </ng-container>

      <ng-template #elseTemplate>
        <span>No available files for that model.</span>
      </ng-template>
    </div>
  </div>
</section>
