<div
  dragAndDrop
  (fileDropped)="onFileDropped($event)"
  class="drop-area h-56 flex border items-center justify-center"
>
  <span>Drag an drop or</span>
  <button mat-button type="button" (click)="droppedFiles.click()">
    Choose file
  </button>
  <input
    #droppedFiles
    hidden
    type="file"
    [accept]="accept"
    [multiple]="multiple"
    (change)="onFileChange(droppedFiles.files)"
  />
</div>

<mat-list class="p-0 mt-6">
  <ng-container *ngFor="let file of files; index as i">
    <mat-list-item>
      <span>{{ file.name }} {{ file.size }}</span>
      <button
        matListItemMeta
        mat-icon-button
        type="button"
        (click)="onFileRemoval(i)"
        class="hover:text-danger"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-list-item>
    <mat-divider class="last:mb-6"></mat-divider>
  </ng-container>
</mat-list>
