<mat-sidenav-container class="h-screen bg-zinc-100">
  <mat-sidenav
    #sidenav
    position="end"
    [autoFocus]="false"
    class="fixed w-48 sm:hidden"
  >
    <div class="flex items-center justify-end p-2 px-4">
      <button mat-icon-button (click)="sidenav.close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <ng-container *ngTemplateOutlet="navListTemplate"></ng-container>

    <ng-template *ngTemplateOutlet="profileTemplate"></ng-template>
  </mat-sidenav>

  <mat-sidenav-content>
    <header class="fixed z-50 w-full">
      <mat-toolbar class="bg-white shadow-sm h-nav items-center justify-center">
        <div class="flex items-center h-full flex-1 max-w-6xl">
          <a
            routerLink="/"
            class="flex items-center justify-center h-full cursor-pointer p-4"
          >
            <mat-icon>eco</mat-icon>
          </a>

          <div class="hidden h-full sm:flex sm:items-center">
            <ng-container *ngTemplateOutlet="navListTemplate"></ng-container>
          </div>

          <div class="ms-auto hidden h-full sm:flex sm:items-center">
            <ng-container *ngTemplateOutlet="profileTemplate"></ng-container>
          </div>

          <div class="ms-auto sm:hidden">
            <button mat-icon-button (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
          </div>
        </div>
      </mat-toolbar>
    </header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #navListTemplate>
  <nav class="flex flex-col p-0 sm:h-full sm:flex-row sm:items-center">
    <ng-container *ngFor="let navLink of navLinks">
      <a
        mat-list-item
        mat-ripple
        [routerLink]="navLink.path"
        (click)="sidenav.close()"
        class="px-4 h-12 flex items-center sm:h-full sm:w-auto sm:justify-center hover:bg-zinc-100"
      >
        <span>{{ navLink.text }}</span>
      </a>
    </ng-container>
  </nav>
</ng-template>

<ng-template #profileTemplate>
  <a
    *ngIf="!isLoggedIn"
    routerLink="/auth/signin"
    (click)="sidenav.close()"
    class="btn m-2"
    >Log in</a
  >

  <button
    *ngIf="isLoggedIn"
    mat-ripple
    [matMenuTriggerFor]="profileMenu"
    class="px-4 text-start h-12 w-full sm:h-full sm:w-auto sm:text-center hover:bg-zinc-100"
  >
    Profile
  </button>
  <mat-menu #profileMenu="matMenu" xPosition="before" class="rounded-xl">
    <a mat-menu-item routerLink="/profile" (click)="sidenav.close()">Models</a>
    <button mat-menu-item (click)="sidenav.close(); logout()">Log out</button>
  </mat-menu>
</ng-template>
