<form
  [formGroup]="uploadModelForm"
  (ngSubmit)="onSubmit()"
  class="flex flex-col m-4"
>
  <!-- Name input -->
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input
      #nameInput
      matInput
      type="text"
      maxlength="20"
      formControlName="name"
    />
    <mat-hint align="end">{{ nameInput.value.length }}/20</mat-hint>
    <!-- Errors -->
    <mat-error *ngIf="uploadModelForm.controls['name'].hasError('required')"
      >Name is required</mat-error
    >
    <mat-error *ngIf="uploadModelForm.controls['name'].hasError('pattern')"
      >Name should only contain Latin characters, numbers, hyphens, and
      underscores
    </mat-error>
  </mat-form-field>
  <!--  -->

  <!-- Amount input -->
  <mat-form-field>
    <mat-label>Amount</mat-label>
    <input
      matInput
      min="0"
      max="99999"
      type="number"
      formControlName="amount"
    />
    <span matTextSuffix class="ms-2">$&nbsp;</span>
    <!-- Errors -->
    <mat-error *ngIf="uploadModelForm.controls['amount'].hasError('required')"
      >Amount is required</mat-error
    >
    <mat-error *ngIf="uploadModelForm.controls['amount'].hasError('min')"
      >Minimum value is 0</mat-error
    >
    <mat-error *ngIf="uploadModelForm.controls['amount'].hasError('max')"
      >Maximum value is 99999</mat-error
    >
  </mat-form-field>
  <!--  -->

  <!-- Files input -->
  <app-file-input
    formControlName="files"
    accept=".pdf"
    [multiple]="true"
  ></app-file-input>

  <button
    mat-raised-button
    type="submit"
    color="accent"
    type="submit"
    class="p-6"
  >
    Upload model
  </button>
</form>
