<section class="mt-nav px-2">
  <mat-toolbar
    class="sticky p-0 px-2 top-[var(--nav-margin)] gap-4 z-50 bg-transparent"
  >
    <app-input
      label="Search"
      [(ngModel)]="filterOptions.pattern"
    ></app-input>

    <mat-slider
      [min]="priceRange.min"
      [max]="priceRange.max"
      discrete
      [displayWith]="formatLabel"
    >
      <input matSliderStartThumb [(ngModel)]="filterOptions.minRange" />
      <input matSliderEndThumb [(ngModel)]="filterOptions.maxRange" />
    </mat-slider>
  </mat-toolbar>

  <div class="grid-template">
    <ng-container *ngFor="let model of models$ | async">
      <app-card [model]="model" (click)="onCardClick(model.id)" />
    </ng-container>
  </div>

  <div
    appIntercextionListener
    rootMargin="0px"
    (onScroll)="onScroll()"
    class="flex flex-col justify-center items-center h-12 mt-2"
  >
    <span *ngIf="isFetching" class="text-xl text-center my-2">
      Loading...
    </span>
    <button mat-button *ngIf="!isFetching" (click)="onScroll()" class="btn mt-2">
      Upload more
    </button>
  </div>

  <a routerLink="/upload-model" mat-fab class="fixed right-8 bottom-8 bg-black">
    <mat-icon>add</mat-icon>
  </a>
</section>
