@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-margin: 4rem;
}

html,
body {
  min-height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
/* 
body{
    height: 10000px;
} */
